<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market Sentiment Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stock_data.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
    <script src="{{ url_for('static', filename='js/stock_data.js') }}" defer></script>
</head>
<body>
    <header class="header">
        <!-- Heading Navigation Bar-->
        <h1>Stock Market Sentiment Analyzer</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Stock Data</a></li>
                <li><a href="{{ url_for('daily_stock_report') }}"> Daily Stock Sentiment Report</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        
        <form id="stockForm" class="form-container">
            <!-- Autocomplete Search Bar --> 
            <input type="text" name="ticker" id="ticker" placeholder="Enter Stock Ticker or Name" required autocomplete="off">
            <ul id="autocomplete-list" class="autocomplete-items"> </ul> <!-- Creates Dynamic List of suggesions-->
            <button type="submit">Analyze</button>
        </form>

        <!-- Add a spinner element -->
        <div class='tetrominos' id="loading" style="display: none;"> <!-- Hidden by default -->
            <div class='tetromino box1'></div>
            <div class='tetromino box2'></div>
            <div class='tetromino box3'></div>
            <div class='tetromino box4'></div>
          </div> 

        <!-- Hide this content-container by default until the spinner is done loading -->
        <div class="content-container" style="display: none;">
            <div class="left-quadrant">
                <div id="resultData" class="result"></div> <!-- Table for parameters -->
                <div class="toggle" id="toggleResult" style="display: none;">Show JSON Results</div> <!-- Initially hidden -->
                <div id="toggleContainer">
                    <pre id="jsonData" style="display: none;"></pre> <!-- JSON/cleaned up data initially hidden -->
                </div>
            </div>
            
            <div class="right-quadrant">
                <h2>Analysis Placeholder</h2>
                <p>This section will contain the actual analysis.</p>
                <div class="chart-container">
                    <canvas id="stockChart"></canvas> <!-- Chart.js Canvas -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>

